:root {
  --Black: #07123a;
  --Black100: #20294E;
  --White: #fff;
  --WhiteRgb: 255, 255, 255;
  --Green100: #0ac832;
  --Green200: #09ae2d;
  --Grey100: #82869d;
  --Grey200: #6a6d81;
  --Yellow100: #ffb70f;
  --Yellow200: #e09d00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--White);
  margin: 0;
  padding: 0;
  font-family: Gilroy;
  line-height: 1;
  background: var(--Black);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
